@{
    ViewData["Title"] = "yt_chat_repost";
}

<div id="yt-content">
    <div id="items" class="style-scope yt-live-chat-ticker-renderer"></div>
    <div id="items" class="style-scope yt-live-chat-item-list-renderer"></div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/site.js"></script>

